.App {
  text-align: center;
}

.App-background {
  width: 100%;
  position: fixed;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/24/15/08/desk-1220052_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}

.App-link {
  color: #00c50a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
